<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppIOSScripture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AppLibApplicationCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AppLibCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AppLibIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AppLibIOSCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AppLibIOSEncryption.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AppLibScripture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ScriptureApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>633F41AF1B06264500F25662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633F41B91B06264500F25662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633F42871B063CB500F25662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>633F42911B063CB500F25662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6347D5C51B375B250065B075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6347D5CF1B375B250065B075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>637431051B446B8000850F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6374310F1B446B8000850F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BE1A741B0E39C30040F6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BE1A7E1B0E39C30040F6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BE1AD81B0E3E390040F6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63BE1AE21B0E3E390040F6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DDFF2C1B0575C400B57DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DDFF411B0575C400B57DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DDFF551B05775D00B57DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63DDFF5F1B05775D00B57DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
