//
//  AppLibIOSConfig.xcconfig
//  ScriptureApp
//
//  Created by David Moore on 5/15/15.
//  Copyright (c) 2015 David Moore. All rights reserved.
//

// The path should be written without quotes, when modified use Xcode's Product -> Clean
// Change to your actual J2OBJC_HOME path.

J2OBJC_HOME = ${HOME}/Develop/j2objc;
GENERATED_AIS_FILES_DIR = ${SRCROOT}/AISGenerated;
GENERATED_ALS_FILES_DIR = ${SRCROOT}/ALSGenerated;
GENERATED_AIC_FILES_DIR = ${SRCROOT}/AICGenerated;
GENERATED_ALC_FILES_DIR = ${SRCROOT}/ALCGenerated;

HEADER_SEARCH_PATHS = $(inherited) "${J2OBJC_HOME}/include" "${GENERATED_AIS_FILES_DIR}" "${GENERATED_ALS_FILES_DIR}" "${GENERATED_AIC_FILES_DIR}" "${GENERATED_ALC_FILES_DIR}";